.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item, 
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    width: 1px;
    height: 14px;
    background-color: #FB9086;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.4rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
} 

/* Authen modal */
.auth-form {
    width: 500px;  
    background-color: var(--white-color); 
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    margin: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch_btn {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__text-link:hover {
    text-decoration: underline;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    margin-top: 22px;
    padding: 16px 36px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;

}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-icon--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-icon--facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials--title {
    margin: 0 36px;
}

.auth-form__socials-icon--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    height: 22px;
    margin: 2px 16px 0;
    display: block;
    border-right: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help-forgot:hover,
.auth-form__help-help:hover {
    text-decoration: underline;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__mobile-search {
    padding: 0 12px;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header-logo {
    width: 130px;
}

.header-logo-img {
    width: 116px;
    margin-left: 0;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex; /* cho cái header__search-lable nền lên trên */
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    margin-top: 8px;
    font-size: 2.5rem;
    color: var(--white-color);
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 1.4rem;
  border-radius: 2px;
}

.header__search-select {
    padding-left: 16px;
    border-left:  1px solid #E8E8E8;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {    
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    margin-right: 3px;
    background-color: var(--primary-color);
    border: none;
  border-radius: 2px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover
.header__search-option {
    display: block;
}

.header__search-option {
    z-index: 1;
    padding-left: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
  border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option-item {
    padding: 8px 8px;
    background-color: var(--white-color);
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    margin-left: 8px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    z-index: 1;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: rgb(167, 165, 165);
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    line-height: 38px;
    font-size: 1.2rem;
    color: var(--text-color);
    display: block;
}

/* Header sort */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

/* App container */
.app__container {
    background-color: #F5F5F5;
}

.app-content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 12px 16px 0;
    margin-top: 0;
    font-weight: 400;
}

.category__heading-icon {    
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list {
    padding: 0 0 8px 0; 
    padding-left: 16px;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 1px;
    right: 16px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;    
    display: block;
    position: relative;
    padding: 8px 4px;
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Home */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-top: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #e4e4e4;
    cursor: default;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
    .home-product {
        margin-bottom: 10px;
    }

    .home-product-item {
        display: block;
        text-decoration: none;
        position: relative;
        margin-top: 10px;
        background-color: var(--white-color);
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        transition: transform ease-in 0.1s;
        will-change: transform;
    }

    .home-product-item:hover {
        cursor: pointer;
        transform: translateY(-1px);
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0,0.05);
    }

    .home-product-item__img {
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .home-product-item__name {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--text-color);
        line-height: 1.8rem;
        height: 3.6rem;
        margin: 10px 10px 6px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }

    .home-product-item__price {
        display: flex;
        align-items: baseline;
        padding-left: 10px;
    }

    .home-product-item__price-old {
        font-size: 1.2rem;
        color: #666;
        text-decoration: line-through;
    }

    .home-product-item__price-current {
        font-size: 1.6rem;
        color: var(--primary-color);
        margin-left: 4px;
    }   

    .home-product-item__action {
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 0;
    }

    .home-product-item__like {
        font-size: 1.3rem;
    }

    .home-product-item__like-icon-fill {
        color: #F63D30;
        display: none;
    }

    .home-product-item__like--liked .home-product-item__like-icon-fill {
        display: inline-block;
    }

    .home-product-item__like--liked .home-product-item__like-icon-empty {
        display: none;
    }

    .home-product-item__rating {
        font-size: 1rem;
        transform: scale(0.7);
        transform-origin: right;
        color: #D5D5D5;
    }

    .home-product-item__star--gold {
        color: var(--star-gold-color);
    }

    .home-product-item__origin {
        display: flex;
        justify-content: space-between;
        margin: 3px 10px 0;
        color: #595959;
        font-size: 1.2rem;
        font-weight: 300;
    }

    .home-product-item__origin-name {
        margin-left: auto;
    }

    .home-product-item__favorite {
        position: absolute;
        top: 10px;
        left: -4px;
        color: var(--primary-color);
        background-color: currentColor;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.6rem;
        padding-right: 4px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .home-product-item__favorite span {
        font-size: 1rem;
        color: var(--white-color);
    }

    .home-product-item__favorite::after {
        position: absolute;
        left: 0;
        bottom: -3px;
        content: "";
        border-top: 3px solid currentColor;
        border-left: 3px solid transparent;
        filter: brightness(60%);
    }

    .home-product-item__favorite i {
        color: var(--white-color);
        font-size: 0.9rem;
        margin: 0 2px 0 5px; 
    }

    .home-product-item__sale-off {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 36px;
        text-align: center;
        background-color: rgb(255, 216, 64, 0.94);
        border-top-right-radius: 2px;
    }

    .home-product-item__sale-off::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        border-width: 0 20px 4px;
        border-style: solid;
        border-color: transparent rgb(255, 216, 64, 0.94) transparent rgb(255, 216, 64, 0.94);  
    }

    .home-product-item__sale-off-percent {
        color: #EE4D2D;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.2rem;
        position: relative;
        top: -1px;
    }

    .home-product-item__sale-off-label {
        color: var(--white-color);
        font-size: 1.3rem;
        line-height: 1.3rem;
        position: relative;
        top: -10px;
        font-weight: 600;
    }

    .home-product__pagination {
        margin: 48px 0 32px 0;
    }

/* Footer */
.footer {
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: 1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    position: relative;
}

.footer__download-gg-img {
    height: 26px;
}

.footer__download-app-img {
    position: absolute;
    top: 14px;
    left: 4px;
    height: 54px;
    width: 57px;
}

.footer__download-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}
